.dbtenv/
.sqlfluff
.sqlfluffignore
.vscode/settings.json
target/
dbt_modules/
logs/
dbt_packages/
.ipynb_checkpoints
.idea*
.vscode*
__pycache__
.DS_Store
*.DS_Store

utils/make_docs_first_time.ipynb
utils/Untitled.ipynb
