[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"ruamel.yaml" = "==0.16.12"
google-cloud-bigquery = "==2.31.0"
click = "*"
tiktoken = "*"
pyyaml = "*"
ipykernel = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.9"
